@model MvcTicariOtomasyon.Models.Siniflar.AracGrubu
@{
    ViewBag.Title = "Aracgrupgetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Araç Gruplar</a></li>
                        <li class="breadcrumb-item active">Düzenle</li>
                    </ol>
                </div>
                <h4 class="page-title">Araç Grup Düzenle</h4>
            </div>
        </div>
    </div>

    <div class="row">


        <div class="col-12">
            <div class="card-box">
                <a href="/AracGrup" class="text-white btn btn-primary float-right">Geri Dön</a>
                <h4 class="header-title mb-4">Cari Grup Düzenleme</h4>
                @using (Html.BeginForm("Aracgrupguncelle", "AracGrup", FormMethod.Post))
                {
                    <form class="form-group" method="post">
                        @Html.Label("Araç Grup Adı")
                        @Html.TextBoxFor(x => x.AracGrubuname, new { @class = "form-control" })
                        @Html.Label("Araç Grubu")
                        @Html.TextBoxFor(x => x.AracGrubus, new { @class = "form-control", type = "number" })
                        <div>
                            <span>Şirket - 1</span>
                            <span>Kiralık - 2</span>
                        </div>
                        @Html.HiddenFor(x => x.AracGrubuid)
                        <button class="btn btn-info mt-2">Araç Grup Güncelle</button>
                    </form>
                }
            </div>
        </div>


    </div>
    <script>
    $(document).ready(function () {
        $("form").submit(function (event) {
            // Formun submit işlemini engellemek için
            event.preventDefault();

            // Zorunlu alanların değerlerini kontrol etme
            var aracgrup = $("#AracGrubuname").val();
            var aracgrubus = $("#AracGrubus").val();

            if (aracgrup === "" || aracgrubus === "") {
                // Zorunlu alanların boş olduğu durumda SweetAlert ile uyarı gösterme
                Swal.fire({
                    title: 'Hata!',
                    text: 'Tüm Alanları Doldurmanız gerekiyor',
                    icon: 'error',
                    confirmButtonText: 'Tamam'
                });
            } else {
                // Formu gönderme
                $("form").unbind("submit").submit();
            }
        });
    });
    </script>

