@model MvcTicariOtomasyon.Models.Siniflar.Aracmasraf
@{
    ViewBag.Title = "MasrafDuzenle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Araçlar</a></li>
                        <li class="breadcrumb-item active">Ekle</li>
                    </ol>
                </div>
                <h4 class="page-title">Araç Masraf Ekle</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <a href="/Aracmasraf" class="text-white btn btn-primary float-right">Geri Dön</a>
                <h4 class="header-title mb-4">Araç Masraf Ekleme</h4>
                <button id="addExpenseField" class="btn btn-info mt-2">Yeni Masraf Oluştur</button>
                @using (Html.BeginForm("MasrafDuzenle", "Aracmasraf", FormMethod.Post, new { id = "expenseForm" }))
                {
                        <div class="row">
                            <div class="col-12">
                                <label for="Aracid">Araç Plaka</label>
                                <select name="expenses[0].Aracid" id="Aracid" class="form-control">
                                    <option value="">Seçiniz</option>
                                    @foreach (var item in ViewBag.dgr2)
                                    {
                                        <option value="@item.Value" @(item.Value == Model.Aracid.ToString() ? "selected" : "")>@item.Text</option>
                                    }
                                </select>
                                <input type="hidden" name="expenses[0].Aracmasrafid" id="Aracmasrafid" value="@Model.Aracmasrafid" />
                                <table class="table table-bordered mt-2" id="expenseTable">
                                    <thead>
                                        <tr>
                                            <th>Masraf Adı</th>
                                            <th>Masraf Tutarı</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="expenseFieldsWrapper">
                                        @if (!string.IsNullOrEmpty(Model.Masraf))
                                        {
                                            var masraflar = Model.Masraf.Split(',');
                                            for (int i = 0; i < masraflar.Length; i++)
                                            {
                                                var masrafDetay = masraflar[i].Split(':');
                                                var masrafAdi = masrafDetay[0];
                                                var masrafTutari = masrafDetay[1];

                                                <tr>
                                                    <td>
                                                        <input type="text" name="expenses[@i].Masraf" class="form-control" value="@masrafAdi" />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="expenses[@i].Tutar" class="form-control" value="@masrafTutari" />
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-sm removeExpenseField">Kaldır</button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <input type="hidden" name="hiddenExpenses" id="hiddenExpenses" value="@Model.Masraf" />
                        <button class="btn btn-info mt-2">Masraf Güncelle</button>
                        }
                </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var expenseCounter = $("#expenseFieldsWrapper tr").length - 1;

        $("#addExpenseField").click(function (e) {
            e.preventDefault();
            expenseCounter++;

            var newExpenseField = `
            <tr>
                <td>
                    <input type="text" name="expenses[${expenseCounter}].Masraf" class="form-control" />
                </td>
                <td>
                    <input type="text" name="expenses[${expenseCounter}].Tutar" class="form-control" />
                </td>
                <td>
                    <button class="btn btn-danger btn-sm removeExpenseField">Kaldır</button>
                </td>
            </tr>
            `;

            $("#expenseFieldsWrapper").append(newExpenseField);

        });

        $("#expenseFieldsWrapper").on("click", ".removeExpenseField", function (e) {
            e.preventDefault();
            expenseCounter--;
            console.log(expenseCounter)
            $(this).closest("tr").remove();

        });

        function showExpenses() {
            var expenses = [];
            $("#expenseFieldsWrapper tr").each(function () {
                var masraf = $(this).find("[name$='.Masraf']").val();
                var tutar = $(this).find("[name$='.Tutar']").val();
                if (masraf !== "" && tutar !== "") {
                    expenses.push(masraf + ":" + tutar);
                }
            });


            // Gizli alana masrafları aktar
            $("#hiddenExpenses").val(expenses.join(','));
        }

        $("#expenseForm").submit(function (event) {
            event.preventDefault();

            $("#expenseFieldsWrapper tr").each(function () {
                var masraf = $(this).find("[name$='.Masraf']").val();
                var tutar = $(this).find("[name$='.Tutar']").val();
                if (masraf === "" && tutar === "") {
                    $(this).remove();
                }
            });

            // Gizli alana masrafları aktar
            showExpenses();

            // Submit the form
            $("#expenseForm").unbind("submit").submit();
        });
    });
</script>
