@using MvcTicariOtomasyon.Models.Siniflar;
@model List<Seferler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Seferler</a></li>
                        <li class="breadcrumb-item active">Listele</li>
                    </ol>
                </div>
                <h4 class="page-title">Seferler</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <a href="/Seferler/Seferekle" class="btn btn-primary float-right text-white">Yeni Sefer Ekle</a>
                <a href="/Seferler/Seferlerdetay" class="btn btn-primary  text-white m-2">PDF/EXCEL</a>
                <hr />
                <h4 class="header-title">Seferler Tablosu</h4>
                <div class="filter-section float-right mr-2 ml-2">
                    <label for="filterFaturaDurumu">Fatura Durumu:</label>
                    <select id="filterFaturaDurumu">
                        <option value="all">Hepsi</option>
                        <option value="kesildi">Kesildi</option>
                        <option value="kesilmedi">Kesilmedi</option>
                    </select>
                </div>
                <div class="filter-section float-right mr-2 ml-2">
                    <label for="filterFaturaDurumu2">Teslim Evragı:</label>
                    <select id="filterFaturaDurumu2">
                        <option value="all">Hepsi</option>
                        <option value="geldi">Geldi</option>
                        <option value="gelmedi">Gelmedi</option>
                    </select>
                </div>
                <div class="filter-section float-right mr-2 ml-2">
                    <label for="filterguzergah">Güzergah:</label>
                    <select id="filterguzergah">
                        <option value="all">Hepsi</option>
                        @foreach (var guzergah in Model.Select(s => s.Guzergah).Distinct())
                        {
                            <option value="@guzergah.Guzergahadı">@guzergah.Guzergahadı</option>
                        }
                    </select>
                </div>
                <div class="filter-section float-right mr-2 ml-2">
                    <label for="endDate">Bitiş Tarihi:</label>
                    <input type="datetime-local" id="endDate" />
                </div>
                <div class="filter-section float-right mr-2 ml-2">
                    <label for="filterBaslangicTarih">Başlangıç Tarihi:</label>
                    <input type="datetime-local" id="filterBaslangicTarih" />
                </div>
                <table id="responsive-datatable" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Sefer Tarihi</th>
                            <th>Fatura NO</th>
                            <th>Sefer Kodu</th>
                            <th>Araç</th>
                            <th>Şoför</th>
                            <th>Güzergah</th>
                            <th>Cari</th>
                            <th>Komisyon</th>
                            <th>Teslim Evragı Durumu:</th>
                            <th>Fatura Durumu:</th>
                            <th>Tonaj</th>
                            <th>Nakliye Fiyatı</th>
                            <th>Yönet</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var k in Model)
                        {
                            <tr class="sefer-item @(k.Faturadurum ? "kesildi" : "kesilmedi") @(k.Teslimevrak ? "geldi" : "gelmedi")"
                                data-guzergah="@k.Guzergah.Guzergahadı"  data-tarih="@k.Tarih">
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">@k.Tarih</a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">@k.FaturaNo</a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">@k.Seferno</a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">@k.Arac.Aracplaka</a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">@k.Sofor.Cariad</a>
                                </td>
                                <td data-guzergah="@k.Guzergah.Guzergahadı">
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a">@k.Guzergah.Guzergahadı</a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">@k.Nakliyeci.Cariad</a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">@k.Komisyon</a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">
                                        @if (k.Teslimevrak)
                                        {
                                            <text>Geldi</text>
                                        }
                                        else
                                        {
                                            <text>Gelmedi</text>
                                        }
                                    </a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">
                                        @if (k.Faturadurum)
                                        {
                                            <text>Kesildi</text>
                                        }
                                        else
                                        {
                                            <text>Kesilmedi</text>
                                        }
                                    </a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">@k.tonaj</a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="text-dark" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="#">@k.Nakliyefiyat₺</a>
                                </td>
                                <td>
                                    <a href="#custom-modal-@k.Seferid" class="btn btn-primary" data-animation="door" data-plugin="custommodal"
                                       data-overlaySpeed="100" data-overlayColor="#36404a" id="">Yönet</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@foreach (var k in Model)
{
    <div id="custom-modal-@k.Seferid" class="modal-demo">
        <button type="button" class="close" onclick="Custombox.modal.close();">
            <span>&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="custom-modal-title">Cari İşlemleri</h4>
        <div class="custom-modal-text text-muted">
            <h4><a class="text-dark" href="/Seferler/Sefergetir/@k.Seferid">Seferi Düzenle <i class="fas fa-edit float-right"></i></a></h4>
            <hr class="border border-primary border-1 opacity-50">
            <h4><a class="text-dark" href="/Seferler/Sefersil/@k.Seferid">Seferi Sil <i class="fas fa-user-minus float-right"></i></a></h4>
        </div>
    </div>
}

