@model MvcTicariOtomasyon.Models.Siniflar.Seferler
@{
    ViewBag.Title = "SeferGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Sefeler</a></li>
                        <li class="breadcrumb-item active">Ekle</li>
                    </ol>
                </div>
                <h4 class="page-title">Sefer Ekle</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <a href="/Seferler" class="text-white btn btn-primary float-right">Geri Dön</a>
                <h4 class="header-title mb-4">Sefer Ekleme</h4>
                @using (Html.BeginForm("Sefergüncelle", "Seferler", FormMethod.Post))
                {
                    <form class="form-group" method="post">
                        <div class="form-row">
                            <div class="col-sm-6 my-form">
                                @Html.Label("Araç Seçimi")
                                @Html.DropDownList("Aracid", ViewBag.dgr2 as List<SelectListItem>, "-- Seçiniz --", new { @class = "form-control", id = "Aracid" })
                                @Html.Label("Şoför Seçimi")
                                @Html.DropDownList("Soforid", ViewBag.dgr3 as List<SelectListItem>, "-- Seçiniz --", new { @class = "form-control", id = "soforSelect" })
                                @Html.Label("Nakliyeci")
                                @Html.DropDownList("Nakliyeciid", ViewBag.dgr5 as List<SelectListItem>, "-- Seçiniz --", new { @class = "form-control", id = "Nakliyeci" })
                                @Html.Label("Güzergah")
                                @Html.DropDownList("Güzergahid", ViewBag.dgr6 as List<SelectListItem>, "-- Seçiniz --", new { @class = "form-control", })
                                @Html.Label("Sefer Kodu")
                                @Html.TextBoxFor(x => x.Seferno, new { @class = "form-control" })
                                @Html.Label("Açıklama")
                                @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
                                @Html.Label("Fatura Numarası")
                                @Html.TextBoxFor(x => x.FaturaNo, new { @class = "form-control" })
                                @Html.Label("Fatura Durumu: Geldi - Gelmedi", new { @class = "mt-2" })
                                @Html.CheckBox("Faturadurum", new { data_plugin = "switchery", data_color = "#039cfd", @class = "form-control" })
                                <br />
                                @Html.Label("İrasilye Numarası")
                                @Html.TextBoxFor(x => x.Irsaliyeno, new { @class = "form-control" })
                                @Html.Label("Tonaj")
                                @Html.TextBoxFor(x => x.tonaj, new { @class = "form-control", id = "Tonaj" })
                                @Html.Label("Birim Fiyat")
                                @Html.TextBoxFor(x => x.Birimfiyat, new { @class = "form-control", id = "Birimfiyat" })
                                @Html.Label("Nakliye Fiyatı")
                                @Html.TextBoxFor(x => x.Nakliyefiyat, new { @class = "form-control", id = "Nakliyefiyat" })
                                @Html.Label("Araca Ödenen Tutar")
                                @Html.TextBoxFor(x => x.Aracaödenentutar, new { @class = "form-control", id = "Aracaödenentutar" })
                                @Html.Label("Komisyon Tutarı")
                                @Html.TextBoxFor(x => x.Komisyon, new { @class = "form-control" })
                                @Html.Label("Teslim Evrağı Kargo Takip:")
                                @Html.TextBoxFor(x => x.Kargotakipno, new { @class = "form-control" })
                                @Html.Label("Teslim Evragı: Yok - Var", new { @class = "mt-2" })
                                @Html.CheckBox("Teslimevrakvaryok", new { data_plugin = "switchery", data_color = "#039cfd", @class = "form-control" })
                                @Html.Label("Teslim Evragı: Gelmedi - Geldi")
                                @Html.CheckBox("Teslimevrak", new { data_plugin = "switchery", data_color = "#039cfd", @class = "form-control mt-2" })
                                <hr />
                                @Html.Label("Komisyonlu Sefer: Hayır - Evet")
                                @Html.CheckBox("KomisyonluSefer", new { data_plugin = "switchery", data_color = "#039cfd", @class = "form-control", id = "KomisyonluSeferd" })
                                @Html.Label("Nakit - Cari:")
                                @Html.CheckBox("Carimi", new { data_plugin = "switchery", data_color = "#039cfd", @class = "form-control" })

                            </div>
                            <div class="col-sm-6 my-form">
                                @Html.Label("Cari")
                                @Html.DropDownList("Cariid", ViewBag.dgr1 as List<SelectListItem>, "-- Seçiniz --", new { @class = "form-control" })
                                @Html.Label("Kasa Seçimi")
                                @Html.DropDownList("Kasaid", ViewBag.dgr4 as List<SelectListItem>, new { @class = "form-control" })
                                @Html.Label("Alınan Tutar")
                                @Html.TextBoxFor(x => x.Alinantutar, new { @class = "form-control" })
                                @Html.Label("Yükleme Yeri")
                                @Html.TextBoxFor(x => x.Yüklemeyeri, new { @class = "form-control" })
                                @Html.Label("Boşaltma Yeri")
                                @Html.TextBoxFor(x => x.Bosaltmayeri, new { @class = "form-control" })
                                @Html.Label("Navlun Bedeli")
                                @Html.TextBoxFor(x => x.NavlunBedel, new { @class = "form-control", id = "NavlunBedel" })
                                <div id="warningMessage" style="color: red; display: none;"></div>
                                @Html.Label("Sefer Tarihi")
                                @{
                                    string Tarih = Model.Tarih != null ? Model.Tarih.Value.ToString("yyyy-MM-ddTHH:mm") : string.Empty;
                                }
                                <input type="datetime-local" class="form-control" name="Tarih" value="@Tarih" />
                                @Html.HiddenFor(x => x.Seferid)
                            </div>
                        </div>
                        <button class="btn btn-info mt-2">Sefeler ekle</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $("form").submit(function (event) {
            // Formun submit işlemini engellemek için
            event.preventDefault();

            // Zorunlu alanların değerlerini kontrol etme
            var aracId = $("#Aracid").val();
            var soforId = $("#soforSelect").val();
            var cariId = $("#Cariid").val();
            var kasaId = $("#Kasaid").val();
            var alinanTutar = $("#Alinantutar").val();
            var navlunBedel = $("#NavlunBedel").val();

            if (aracId === "" || soforId === "" || nakliyeciId === "" || cariId === "" || kasaId === "" || alinanTutar === "" || navlunBedel === "") {
                // Zorunlu alanların boş olduğu durumda SweetAlert ile uyarı gösterme
                Swal.fire({
                    title: 'Hata!',
                    text: 'Tüm Alanları Doldurmanız gerekiyor',
                    icon: 'error',
                    confirmButtonText: 'Tamam'
                });
            } else {
                // Formu gönderme
                $("form").unbind("submit").submit();
            }
        });
    });

</script>
