@model MvcTicariOtomasyon.Models.Siniflar.Odeme
@{
    ViewBag.Title = "Odeme";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Anasayfa</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Kasa</a></li>
                        <li class="breadcrumb-item active">Ekle</li>
                    </ol>
                </div>
                <h4 class="page-title">Ödeme İşlemi</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <a href="/Odeme" class="text-white btn btn-primary float-right">Geri Dön</a>
                <h4 class="header-title mb-4">Ödeme İşlemleri</h4>
                <form class="form-group" method="post">
                    <div class="col-12">
                        <span class="badge-light-dark"><b>Bilgi:</b> Ne İşlemi yapacaksanız(Araç-Cari) onu seçmeniz yeterli.</span>
                        <span class="badge-light-dark">- <b>Bilgi:</b> Seçinizde Bırakırsanız o işlemi yapmaz.</span>
                    </div>
                    @Html.Label("Tarih")
                    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control", type = "datetime-local" })
                    @Html.Label("İşlem Türü")
                    <select class="form-control" name="OdemeTuru">
                        <option value="0">Ödeme Türü Seçiniz</option>
                        <option value="1">Tahsilat</option>
                        <option value="2">Ödeme</option>
                    </select>
                    @Html.Label("Cari")
                    @Html.DropDownList("Cariid", ViewBag.dgr1 as List<SelectListItem>, "Seçiniz", new { @class = "form-control", id = "Cariid" })
                    @Html.Label("Arac")
                    @Html.DropDownList("Aracid", ViewBag.dgr2 as List<SelectListItem>, "Seçiniz", new { @class = "form-control", id = "Aracid" })
                    @Html.Label("Kasa")
                    @Html.DropDownList("Kasaid", ViewBag.dgr3 as List<SelectListItem>, "Seçiniz", new { @class = "form-control", id = "Kasaid" })
                    @Html.Label("Tutar")
                    @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control" })
                    <button class="btn btn-info mt-2">Ödeme İşlemi</button>
                </form>
            </div>
        </div>


    </div>
